body{
  background-color:darkred;
  position:relative;
}

.hidden-phone{
  display:none !important;
}

.logo{
  height: 100%;
  width: 100%;
}

.square {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.img-slide{
  display: block;
  height: 550px;
}

.gioithieu{
  border: 1px solid black;
}

.text-underline{
  border-bottom: 1px solid orange;
  padding-bottom: 4px;
  text-align: center;
  width:max-content;
}
